.c-button {
  height: 44px;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.15px;
  color: #FFFFFF;

  &.hover-text {
    &:hover {
      .btn-text {
        font-size: 0;
      }

      &:after {
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        color: #FFFFFF;
      }
    }

    &:after {
      content: attr(data-hover-text);
      font-size: 0;
    }
  }

  &.size-s {
    width: 200px;
  }

  &.size-m {
    width: 252px;
  }

  &.size-l {
    width: 270px;
  }

  &.theme-grey {
    background: #9E9E9E;

    &:hover {
      background: #31AE54;
      color: #fff;
    }
  }

  &.theme-green {
    background: #31AE54;
    color: #fff;

    &:hover {
      background: #9E9E9E;
    }
  }
}